<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration>
    <springProfile name="prod">
        <include resource="logback-console-appender.xml"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="stage">
        <include resource="logback-console-appender.xml"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <include resource="logback-dev-appender.xml"/>

        <root level="DEBUG">
            <appender-ref ref="DEV"/>
        </root>
    </springProfile>

    <springProfile name="dev-senglee">
        <include resource="logback-console-appender.xml"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
